# Ignore directories
projects/
analysis/
docs/

# Build/output files (common in embedded projects)
*.bin
*.uvoptx
*.uvprojx
*.uvguix*
*.build_log.htm
*.TMP
*.exe
.settings/
RTE/
BINOUTPUT/

# Log/temp files
*.log
*.xls

# Configs
configs/*
!configs/config.example.json

# PyInstaller UI Build
orchestrator/artifact/build/
orchestrator/artifact/*.spec
!orchestrator/artifact/dist/
!orchestrator/artifact/dist/*.exe
